.header {
    position: relative;
    .goHome {
       
        left: 10px;
        position: absolute;
        // background: url(../static/media/bg.1b99ea05.png) -32px 0px no-repeat;
        width: 28px;
        height: 28px;
        background-size: 287px 800px;
    
    }
    // static/media/bg.1b99ea05.png
    // static/media/bg.1b99ea05.png
    .header_more {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 28px;
        height: 28px;
        // background: url(../static/media/bg.1b99ea05.png) -243px 0 no-repeat;
        background-size: 287px 800px;
    }
}