.baoyou {
    width: 100vw;

    .header {
        width: 100vw;
        box-sizing: border-box;
        padding: 8px 10px;
        height: 44px;
        background: linear-gradient(to right, #FBAA58 0%, #FA4EBE 100%);

        .goHome {
            position: absolute;
            background: url(../img/cms-img.png) -32px 0px no-repeat;
            width: 28px;
            height: 28px;
            background-size: 287px 800px;
        }

        .headerTitle {
            width: 100px;
            margin: 0 auto;
            position: relative;
        }

        .header_more {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 28px;
            height: 28px;
            background: url(../img/cms-img.png) -243px 0 no-repeat;
            background-size: 287px 800px;
        }
    }

    main {
        height: 209px;

        nav {
            .ant-col {
                height: 103.5px;
            }

            .navLeft {
                float: left;
                width: 50vw;

                .ant-col-12 {
                    width: 50vw;
                    img{
                        width: 100%;
                        z-index: 0;
                    }
                }
            }

            .navRight {
                float: right;
                width: 50vw;

                .ant-col-6 {
                    width: 25vw;
                }
            }
        }
    }
}